*{
    box-sizing: border-box;
}

img .prod{
    max-width: 200px;
    max-height: 200px;
}
/*
.container {
    max-width: 460px;
    display: flex;
    justify-content: center; 
}

.produtos {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 30px; 
    max-width: 100%; 
    box-sizing: border-box; 
}
*/
.container > div {
    display: flex;
    justify-content: center;
}

/*
.produtos> div >img{
     width: 80px;
     margin-bottom: 10px;
     
}
.produtos> div >p{
    width: 170px;
    margin-bottom: 5px;
    
}
.produtos >div>button{
    padding: 2px;
    align-self: stretch;
    margin-top: 10px;
}

/* .container2 {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    background-color: rgb(60, 76, 77);
    color: white;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.icon{
    margin-right: 10px;
} */


.spacer50{
    height: 50px;
}

.banner{
    width: 100%;
}

.cardprod{
    margin: 20px;
}


.tailwind-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

img.img-produto{
    border-radius: 15px;
}
 
/* Inicio Bucar */
#searchBar {
    margin-top: 50px;
    max-width: 400px;
    margin: 0 auto 20px auto; 
    padding: 10px;
    font-size: 16px;
}
/* Fim Bucar */